* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}
:before,
:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
p,h1,h2,h3,h4,h5,h6,span,em,strong {
	margin: 0;
	padding: 0;
}
button {
	cursor: pointer;
}
a:focus, input:focus {
	outline: none;
}

input::-ms-clear {
	display: none;
}

img {
	vertical-align: top;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #000;
}
::-webkit-scrollbar-thumb {
	background-color: #ddd;
	border-radius: 25px;
}
// .wrapper {
// 	max-width: 1920px;
// 	margin: 0 auto;
// 	overflow: hidden;
// } 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;700&display=swap');
body {
	font-family: Inter;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}